.page-container{
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
}

.title{
    background: rgba(187, 187, 187, 0.6);
    padding: 10px;
    border-radius: 25px;
    font-size: 36px;
    text-align: center;
    text-shadow: 4px 4px rgba(162, 162, 162);
}

h2{
    font-family: 'Black Han Sans', sans-serif;
}
.logo {
    height: 275px;
    width: 300px;
}
.icon {
    height: 75px;
    width: 100px;
}

.items {
    font-family: 'Black Han Sans', sans-serif;
}

.form-group{
    font-family: 'Black Han Sans', sans-serif;
}

.btn{
    font-family: 'Sigmar One', cursive;
    background: rgba(187, 187, 187, 0.6);
    border-radius: 25px;
}

.burger-input{
    
        width: 200;
        height: 55px;
        padding: 5px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
      
}

/* The container */
.input-style {
    display: block;
    position: relative;
    padding: 1px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .input-style input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 25;
    height: 25px;
    width: 25px;
    background-color:rgba(162, 162, 162);
  }
  
  /* On mouse-over, add a grey background color */
  .input-style:hover input ~ .checkmark {
    background-color: rgba(149,149,149);
  }
  
  /* When the checkbox is checked, add a blue background */
  .input-style input:checked ~ .checkmark {
    background-color: rgba(149,149,149);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .input-style input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .input-style .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.menu-container {
    display: grid;
    background: rgba(187, 187, 187, 0.6);
    padding: 10px;
    border-radius: 25px;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.menu-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.menu {
    grid-column: 1 / 3;
}

.eaten {
    grid-column: 3 / 5;
}

.create{
    grid-column: 5 / 8;
}